{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="./.././../static/css/adminstyle.css">
</head>
<body>
<div class="container">
    <div class="navigation">
        <ul>
            <li>
                <a href="#">
                    <span class="icon "><ion-icon name="cart-outline"></ion-icon></span>
                    <span class="title ">Brand Name</span>
                </a>
            </li>
            <li>
                <a href="#section1">
                    <span class="icon "><ion-icon name="bag-handle-outline"></ion-icon></span>
                    <span class="title ">Product</span>
                </a>
            </li>
            <li>
                <a href="/cust">
                    <span class="icon "><ion-icon name="people-outline"></ion-icon></span>
                    <span class="title ">Customer</span>
                </a>
            </li>
                        <li>
                <a href="/order">
                    <span class="icon "><ion-icon name="people-outline"></ion-icon></span>
                    <span class="title ">Order</span>
                </a>
            </li>

            <li>
                <a href="/logout">
                    <span class="icon "><ion-icon name="log-out-outline"></ion-icon></span>
                    <span class="title ">Log Out</span>
                </a>
            </li>
        </ul>
    </div>

    <div class="main">
        <div class="topbar">
            <div class="toggle">
                <ion-icon name="menu-outline"></ion-icon>
            </div>
            <div class="search">
                <form method="post" action="{% url 'search' %}">
                    {% csrf_token %}
                    <label>
                        <input type="text" placeholder="Search here" name="searched">
                        <a href="{% url 'search' %}"><ion-icon name="search-outline"></ion-icon></a>
                    </label>
                </form>
            </div>
            <div class="user">
                <img src="#" alt="">
            </div>
        </div>


        <section class="home-section" id="section1">

            <div class="home-content">

                <div class="overview-boxes">
                    {% if searched %}


                        <div class="recent-sales box">

                            <h2> The Results are</h2></div>
                        <br>

                        {% for i in items %}
                            <div class=" box "><a
                                    href="{% url 'searchproduct' %}"> {{ i.id }}.{{ i.productname }}</a>
                            </div>
                        {% endfor %}

                    {% endif %}


                </div>

                <div class="sales-boxes">

                    <div class="recent-sales box">
                        <div class="title">Products</div>
                        <div class="buttonadd">
                            <a href="/create">Add</a>
                        </div>
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Product Image</th>
                                <th>Discount Percent</th>
                                <th>Product Name</th>
                                <th>Final Price</th>
                                <th>Previous Price</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for p in products %}
                                <tr>
                                    <td>{{ p.id }}</td>
                                    <td><img width="100px" height="100px"
                                             src="{% static 'images/' %}{{ p.image }}"
                                             alt="product"></td>
                                    <td>{{ p.discount }}</td>
                                    <td>{{ p.productname }}</td>
                                    <td>{{ p.finalprice }}</td>
                                    <td>{{ p.previousprice }}</td>
                                    <td>
                                        <div class="">
                                            <a href="{% url 'pupdate' p.id %}">Edit</a>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="">
                                            <a href="{% url 'pdelete' p.id %}">Delete</a>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}


                            </tbody>

                        </table>

                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

<script>
    let toggle = document.querySelector('.toggle');
    let navigation = document.querySelector('.navigation');
    let main = document.querySelector('.main');

    toggle.onclick = function () {
        navigation.classList.toggle('active')
        main.classList.toggle('active')
    }

    let list = document.querySelectorAll('.navigation li');

    function activeLink() {
        list.forEach((item) =>
            item.classList.remove('hovered'));
        this.classList.add('hovered')
    }

    list.forEach((items) =>
        item.addEventListener('mouseover', activeLink));
</script>
</body>
</html>