{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Sign in & Sign up Form</title>
    <link rel="stylesheet" href="../static/css/lr-style.css"/>
    <link rel="stylesheet" href="{% static 'css/lr-style.css' %}"/>

</head>
<body>
<main>
    <div class="box">
        <div class="inner-box">
            <div class="forms-wrap">
                <form action="" method="POST" autocomplete="off" class="sign-in-form">
                    {% csrf_token %}

                    <div class="heading">
                        <h2>Welcome Back</h2>
                        <h6>Not registred yet?</h6>
                        <a href="/signup" class="toggle">Sign up</a>
                    </div>

                    <div class="actual-form">
                        <div class="input-wrap">
                            <input
                                    name="name"
                                    type="text"
                                    minlength="4"
                                    class="input-field"
                                    autocomplete="off"
                                    required
                            />
                            <label>Name</label>
                        </div>

                        <div class="input-wrap">
                            <input
                                    name="password"
                                    type="password"
                                    minlength="4"
                                    class="input-field"
                                    autocomplete="off"
                                    required
                            />
                            <label>Password</label>
                        </div>
                            <input type="submit" value="Sign In" class="sign-btn"/>
                        <p class="text">
                            Forgotten your password or you login datails?
                            <a href="#">Get help</a> signing in
                        </p>
                    </div>
                </form>
            </div>


            <div class="carousel">
                <div class="images-wrapper">
                    <img src="" class="image img-1 show" alt=""/>
                    <img src="" class="image img-2" alt=""/>
                    <img src="" class="image img-3" alt=""/>
                </div>


            </div>
        </div>
    </div>
</main>

<!-- Javascript file -->


</body>
</html>
